/* DEFAULT */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    height: 100vh;
}

/* DEFAULT */

/* TOPO */
#topo {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 5px solid #ff8000;
}

.logo {
    margin: 15px;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}



/* CHEFS */

.fundop{
    min-height: calc(100vh - 100px);
}

#fundodopesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((100vh - 100px) / 2);
    background-image: url("../media/images/fundochef.png");
    background-size: cover;
}


#tabelaDePesquisa {
    background-color: white;
    opacity: 75%;
    border-radius: 30px;
    height: 55px;
    width: 700px;
    display: flex;
    align-items: center;
    
}
#procurar{
    margin-left: 5px;
    font-size: 20px;
    border: 0;
    outline: none;
    padding-left: 20px;
    
}

#lupa{
   height: 50px;
   width: 50px;
 background-color: transparent;
 border: transparent;
}

#lupinha{
    height: 35px;
    width: 35px;
}


#cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardzin{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 250px;
    height: 300PX;
    margin-left: 50px;
    margin-top: 60px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 28px -4px rgba(0,0,0,0.79); 
    box-shadow: 0px 2px 28px -4px rgba(0,0,0,0.79);
    transition: transform 0.3s ease; 
    background-image: url("../media/images/chapeu_chef_cozinheiro_mestre_branco_xadrez_1723_1_ad5e0d99ad2e1ab9075b08a2a01ffda8.webp");
    background-size: cover;
}

.cardzin:hover{
    transform: scale(1.05); 

}


.nick{
    margin-top: 15px;
    height: 35px;
    width: 200px;
    border-radius: 20px;
    background-color: #ff8000;
    border: 2px solid #e07000;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease; 
    margin-bottom: 15px
    ;
}

.nick:hover{
    transform: scale(1.05); 
    background-color: #df7205;
    color: #000000;
    font-weight: bold;
}

/* CHEFS */

@media screen and (max-width: 800px) {
    /* DEIXE A SUA PÁGINA RESPONSIVA AQUI */

    /* TOPO */
    #topo {
        justify-content: flex-start;
    }

    /* TOPO */

    /* MENU RESPONSIVO */
    .menu {
        display: block;
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background: white;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-radius: 0;
    }

    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--white);
        padding: 1rem 0;
        cursor: pointer;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
        margin: 20px;
        margin-left: 180px;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .nav.active .menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .nav.active .hamburger {
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    .social {
        display: flex;
        margin-top: 200px;
        justify-content: center;
    margin-left: 0;
    }

    .btn-social {
        color: #ffffff;
        width: 30px;
        height: 30px;
        border: 1px solid #00537c00;
        border-radius: 1mm;
        background-color: #000000;
    }

    /* MENU RESPONSIVO */

    /* RODAPÉ */
    .footer {
        height: 200px;
     margin-top: 50%;
    }

    .logo-rodapier {
        margin-left: 1px;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .copyright {
        display: block;
        margin-top: 50px;
        text-align: center;
    }

    .social-rodapier {
        
        margin-top: -60px;
        margin-left: 100px;
        justify-content: center;
        align-items: center;
    }

    /* RODAPÉ */
}
