/* DEFAULT */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

/* DEFAULT */

/* TOPO */
#topo {
    width: 100%;
    height: 100px;
    margin: 0;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 5px solid #ff8000;
}

.logo {
    margin: 15px;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

/* TOPO */

/* MENU DO TOPO */
.btn-menu-desktop {
    width: 90px;
    height: 30px;
    border: 1px solid #00537c00;
    border-radius: 3mm;
    font-family: Sanchez;
    font-size: 16px;
    color: #004587;
    background: none;
    top: 25%;
    position: relative;
    line-height: 25px;
    transition: all 0.3s linear;
}

.btn-menu-desktop:hover {
    width: 90px;
    height: 30px;
    color: #ffffff;
    background-color: #004587;
    background-size: 5mm;
    font-size: 16;
}

.social {
    display: flex;
    margin-top: -19px;
    justify-content: flex-end;
    grid-column-gap: 5px;
    margin-left: 170px;
}

.btn-social {
    color: #ffffff;
    width: 32px;
    height: 32px;
    border: 1px solid #00537c00;
    border-radius: 1mm;
    background-color: #A7A8AA;
    transition: all 0.3s linear;
}

.btn-social:hover {
    color: #ffffff;
    background-color: #004587;
    background-size: 10mm;
}

.menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 555px;
}

/* MENU DO TOPO */

/*BACKGROUND BANNER */
.banner {
    bottom: 0;
    margin-top: 0px;
    background-image: url(../media/images/slide_senac.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
}

/*BACKGROUND BANNER */

/* SEARCH BAR */
.texto {
    margin: 10px;
    word-wrap: break-word;
}

.search-box {
    margin: auto;
    width: 700px;
    height: 80px;
    background: rgba(255, 255, 255, 0.705);
    border: 2px solif #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30%;
}

.search-box .lupa-search {
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000000;
}

.search-box .lupa-search i {
    font-size: 35px;
    align-items: center;
}

.search-box .imput-search {
    position: absolute;
    left: 80px;
    width: 100%;
    height: 100%;
    line-height: 80px;
}

.search-box .imput-search input {
    border: 0;
    outline: 0;
    font-size: 20px;
    width: 700px;
    height: 80px;
    background: rgba(255, 255, 255, 0);
}

/* SEARCH BAR */

/* CATEGORY */
.category {
    width: 100%;
    height: 7rem;
    margin: 4rem auto 0 auto;
    display: flex;
    padding: 1rem;
    overflow-x: auto;
    grid-column-gap: 11px;
}

.category::-webkit-scrollbar {
    width: 0;
}

.btn-category {
    border-radius: 10mm;
    padding: 1rem;
    border: 1px solid #777;
    background: none;
    transition: all 0.3s linear;
    font-family: none;
}

.btn-category:hover {
    color: #ffffff;
    background-color: #004587;
    background-size: 5mm;
}

/* CATEGORY */

/* CARDS */
.cards {
    padding: 5mm;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.card {
    background-color: #fff;
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    margin: 2mm;
    position: relative;
    transition: all 0.3s linear;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 0 8px #004587;
}

.card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: all 0.3s linear;
}

.card:hover img {
    scale: 1.1;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}

.card i {
    font-size: .7rem;
    color: #a8a8a8;
}

.card h3 {
    font-size: .9rem;
    color: #000000;
}

.card button {
    background-color: #ff8000;
    width: 90%;
    height: 40px;
    border: none;
    padding: 4px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.card button:hover {
    background-color: #00407E;
    cursor: pointer;
}

.chef img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    position: absolute;
    margin-bottom: 130px;
    border: 3px solid #ffffff;
}

/* CARDS */

/* SUBIR ATÉ O TOPO */
#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #ff8000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 80%;
    font-size: 2px;
    transition: background-color 0.3s ease;
}

#backToTopBtn:hover {
    background-color: #9e9e9e;
}

/* SUBIR ATÉ O TOPO */

/* RODAPÉ */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 115px;
    color: white;
    background-color: #00407E;
    border-top: 5px solid #ff8000;
    flex-direction: row;
    margin-top: 5%;
}

.logo-rodapier {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 100px;
    position: absolute;
    justify-content: space-between;
}

.copyright {
    font-size: 14px;
    font-family: Sanchez;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.social-rodapier {
    display: flex;
    margin-right: 100px;
    margin-top: -25px;
    justify-content: flex-end;
    grid-column-gap: 5px;
}

.btn-social-rodapier {
    color: #ffffff;
    width: 32px;
    height: 32px;
    border: 1px solid #00537c00;
    border-radius: 1mm;
    background-color: #ffffff;
    transition: all 0.3s linear;
}

.btn-social-rodapier:hover {
    color: #ffffff;
    background-color: #FF8000;
    background-size: 10mm;
}

/* RODAPÉ */

@media screen and (max-width: 800px) {

    /* TOPO */
    #topo {
        justify-content: flex-start;
    }

    /* TOPO */

    /* SEARCH BAR */
    .search-box {
        margin: auto;
        width: 350px;
        height: 80px;
        background: rgba(255, 255, 255, 0.705);
        border: 2px solif #fff;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 35%;
    }

    .search-box .imput-search input {
        border: 0;
        outline: 0;
        font-size: 20px;
        background: rgba(255, 255, 255, 0);
    }

    /* SEARCH BAR */

    /* MENU RESPONSIVO */
    .menu {
        display: block;
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background: white;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-radius: 0;
    }

    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--white);
        padding: 1rem 0;
        cursor: pointer;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
        margin: 20px;
        margin-left: 180px;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .nav.active .menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .nav.active .hamburger {
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    .social {
        display: flex;
        margin-top: 200px;
        justify-content: center;
        margin-left: 0;
    }

    .btn-social {
        color: #ffffff;
        width: 30px;
        height: 30px;
        border: 1px solid #00537c00;
        border-radius: 1mm;
        background-color: #000000;
    }

    /* MENU RESPONSIVO */

    /* RODAPÉ */
    .footer {
        height: 200px;
    }

    .logo-rodapier {
        margin-left: 1px;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .copyright {
        display: block;
        margin-top: 50px;
        text-align: center;
    }

    .social-rodapier {
        margin-top: -60px;
        margin-left: 100px;
        justify-content: center;
        align-items: center;
    }

    /* RODAPÉ */
}
