

/* VER RECEITAS */
#receita {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#titulo {
  font-size: 50px;
  display: flex;
  margin-right: 900px;
  margin-top: 50px;
}

#avaliação {

  width: 400px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SLIDER */
#slider-container {
  width: 70%;
  margin: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

#prev,
#next {
  cursor: pointer;
  position: absolute;
  width: 50%;
  padding: 16px;
  color: #ff8000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: flex;
  justify-content: center;
}

#prev {
  left: 0;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* BOTÕES */
.avaliacao {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.star-icon {
  list-style-type: none;
  border: 1px solid #fff;
  cursor: pointer;
  color: #ffe500;
  font-size: 40px; /* alterar o tamanho das estrelas */
}

.star-icon::before {
  content: "\2605";
}

.star-icon.ativo~.star-icon::before {
  content: "\2606";
}

.avaliacao:hover .star-icon::before {
  content: "\2605";
}

.star-icon:hover~.star-icon::before {
  content: "\2606";
}

#lasanha {
  display: flex;
  justify-content: center;
}

#las {
  height: 400px;
  width: 800px;
  margin-top: 40px;
  border: 2px solid #00407E;

}

/*INGREDIENTES*/
#div {
  width: 50%;
  background-color: #dfdede;
  margin: 30px auto;
  display: flex;
  border: 2px solid #d6d6d6;
}

#text {
  font-size: 30px;
  font-weight: bold;
}

.tipos:hover {
  color: #00305f;
}

.Igredientes {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 50px;
  margin-left: 335px;
  margin-right: 335px;
}

#igre {
  margin-top: 20px;
  font-size: 24px;
}

#die {
  margin-top: 30px;
  font-size: 24px;
}

#text {
  margin: auto;
}

/*MODO DE PREPARO*/
#div2 {
  width: 50%;
  background-color: #dfdede;
  margin: 30px auto;
  display: flex;
  border: 2px solid #d6d6d6;
}

#modo {
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}

#molho {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 335px;
  margin-right: 335px;
}

#molh {
  font-size: 30px;
  margin-left: 20px;
  text-decoration: underline solid #FF8000;
  font-weight: bold;
  color: #ff8000;
  margin-top: 6px;
  margin-left: -10px;
}

#preparo {
  font-size: 20px;
  text-align: justify;
}

#frango {
  font-size: 30px;
  margin-left: 20px;
  text-decoration: underline solid #FF8000;
  font-weight: bold;
  color: #ff8000;
  margin-left: -10px;
  margin-top: 30px;
}

#preparo2 {
  font-size: 20px;
}

#montagem {
  font-size: 30px;
  margin-left: 20px;
  text-decoration: underline solid #FF8000;
  font-weight: bold;
  color: #ff8000;
  margin-left: -10px;
  margin-top: 30px;
}

#preparo3 {
  font-size: 20px;
}

/* ADICIONAR COMENTÁRIO*/
#AvalieEssaReceita {
  display: flex;
  justify-content: center;
}

#but {
  background-color: #054d96;
  color: #ffffff;
  font-size: 30px;
  border: transparent;
  height: 80px;
  width: 300px;
  margin-top: 80px;
  border-radius: 40px;

}

#but:hover {
  background-color: #00305f;
}

/* CATEGORIAS DO TOPO DA PÁGINA */
.category {
  width: 100%;
  height: 7rem;
  margin: 2rem auto 0 auto;
  display: flex;
  padding: 1rem;
  overflow-x: auto;
  grid-column-gap: 30px;
  justify-content: center;
}

.category::-webkit-scrollbar {
  width: 0;
}

.btn-category {
  border-radius: 10mm;
  padding: 1rem;
  border: 1px solid #777;
  background: none;
  transition: all 0.3s linear;
}

.btn-category:hover {
  color: #ffffff;
  background-color: #004587;
  background-size: 5mm;
}

/* CATEGORIAS RELACIONADAS*/
#div3 {
  height: 50px;
  width: 100%;
  background-color: #dfdede;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  border: 2px solid #d6d6d6;
}

#cat {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

#tips {
  margin-left: 60px;
  margin-top: 40px;
  height: 30px;
  width: 240px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 3px 2px 6px black;
  font-size: 12px;
}

#tips:hover {
  background-color: #cfcfcf;
}

#txt {
  font-size: 17pt;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* margin: 20px; */
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 20px;
}


.foto_receita{
  width: 450px;
  height: 300px;
  border-radius: 30px;
}

/* VER RECEITAS */
